$body-bg: #f1f4f8;
$font-family-sans-serif: "Karla";
$primary: #bc3125;
$light:#dee2e6;
$info: #2fabeb;
$grid-gutter-width:           30px !default;

$navbar-padding-y: 0;

$card-bg: white;
$card-cap-bg: white;

$carousel-control-color: $primary;
$carousel-caption-color: $primary;
$carousel-indicator-active-bg: $primary;

$theme-colors: (
"white":    white,
"darkred": #870e0e
);

.card img {
    max-width: 100%;
}

.special-card {
    background-color : $light;
    opacity: 0.5;
}

.bg-primary-light {
    background-color: lighten($primary, 50%);
}

.bg-darkred {
    background-color: darkred;
}

.btn-light {
    color: $primary;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.footer p {
    margin: 0;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    border-color: #ced4da;
    margin-bottom: -50px;
}

.circle span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.avatar {
    width: 64px;
    height: 64px;
}

.badgeCustom {
    width: 86px;
    height: 86px;
}

.avatar-xl {
    width: 128px;
    height: 128px;
}

.grayscale {
    -webkit-filter: opacity(30%); /* Safari 6.0 - 9.0 */
    filter: opacity(30%);
}

.card-text {
    line-height: 1;
}

.card-deck {
    padding-top: 10px;
    margin-right: 0; 
    margin-left: 0;
}

.menu {
    margin-top: -10px;
    margin-bottom: -30px;
}

.container-fluid {
    margin-top: 10px;
    padding-bottom: 30px;
}

#bugFilter li, #noBugFilter, #featureFilter li, #nofeatureFilter {
    cursor: pointer;
}

.color-danger1 {
    background-color: lighten(red, 40%);
    color: black;
}

.color-danger2 {
    background-color: lighten(red, 30%);
    color: black;
}

.color-danger3 {
    background-color: lighten(red, 20%);
    color: white;
}

.color-danger4 {
    background-color: lighten(red, 10%);
    color: white;
}

.color-danger5 {
    background-color: red;
    color: white;
}

.color-danger6 {
    background-color: darken(red, 10%);
    color: white;
}

.color-danger7 {
    background-color: darken(red, 20%);
    color: white;
}

.color-danger8 {
    background-color: darken(red, 30%);
    color: white;
}

.color-danger9 {
    background-color: darken(red, 40%);
    color: white;
}

.color-danger0, .color-success0, .color1 {
    background-color: gray;
    color: white;
}

.color-success1 {
    background-color: lighten(green, 55%);
    color: black;
}

.color-success2 {
    background-color: lighten(green, 40%);
    color: black;
}

.color-success3 {
    background-color: lighten(green, 25%);
    color: black;
}

.color-success4 {
    background-color: lighten(green, 10%);
    color: black;
}

.color-success5 {
    background-color: green;
    color: white;
}

.color-success6 {
    background-color: darken(green, 10%);
    color: white;
}

.color-success7 {
    background-color: darken(green, 20%);
    color: white;
}

.color-success8 {
    background-color: darken(green, 30%);
    color: white;
}

.color-success9 {
    background-color: darken(green, 40%);
    color: white;
}

.color2 {
    background-color: #9675d2;
    color: black;
}

.color3 {
    background-color: #ffc107;
    color: black;
}

.color4 {
    background-color: #007bff;
    color: white;
}

.color5 {
    background-color: #28a745;
    color: white;
}

.color6 {
    background-color: #dc3545;
    color: white;
}

.color7 {
    background-color: #fd7e14;
    color: white;
}

.color8 {
    background-color: #e83e8c;
    color: white;
}

.color9 {
    background-color: #6610f2;
    color: white;
}

.color10 {
    background-color: #20c997;
    color: black;
}

.color-tag1 {
    background-color: #87cefa;
    color: black;
}

.color-tag2 {
    background-color: #800000;
    color: white;
}

.color-tag3 {
    background-color: #b8860b;
    color: white;
}

.color-tag4 {
    background-color: #afeeee;
    color: black;
}

div.mce-fullscreen {
    z-index: 1050;
}



@import url('https://fonts.googleapis.com/css?family=Karla');
@import "../../vendor/twbs/bootstrap/scss/bootstrap";
