{% extends "@user/layout.twig" %}

{% set gameName = game.name %}

{% block title %} 
    {% trans %}
        Subscribers for {{ gameName }}
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1 class="text-center">
        {% trans %}
            List of {{ gameName }} subscribers
        {% endtrans %}
    </h1>

    <a href="{{ path('shop.rewards', {id: game.id}) }}" class="btn btn-primary my-3">{% trans "Back" %}</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Reward" %}</th>
                <th>{% trans "Start date" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in subscribers %}
                <tr>
                    <td>
                        <a href="{{ path('profile', {id:subscriber.userId}) }}" class="text-info">
                            {{ subscriber.username }}
                        </a>
                    </td>
                    <td>
                        {% if subscriber.title %}
                        {{ subscriber.title }}
                        {% else %}
                            {% trans "Subscription without reward" %}
                        {% endif %}
                    </td>
                    <td>
                        {{ subscriber.createdAt | date('j M y') }}
                    </td>
                    <td>
                        {{ subscriber.amount / 100 }}€
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
