{% extends "@user/layout.twig" %}

{% set rewardTitle = reward.title %}
{% set gameName = game.name %}

{% block title %} 
    {% trans %}
        Subscribers for {{ rewardTitle }} on {{ gameName }}
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1 class="text-center">
        {% trans %}
            List of {{ rewardTitle }} subscribers
        {% endtrans %}
    </h1>

    <a href="{{ path('shop.rewards', {id: game.id}) }}" class="btn btn-primary my-3">{% trans "Back" %}</a>
    <a href="{{ path('shop.rewards.allContributors',  {projectId:game.id}) }}" class="btn btn-primary">
        {% trans %}View all subscribers{% endtrans %}
    </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Start date" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for subscriber in subscribers %}
                <tr>
                    <td>
                        <a href="{{ path('profile', {id:subscriber.userId}) }}" class="text-info">
                            {{ subscriber.username }}
                        </a>
                    </td>
                    <td>
                        {{ subscriber.createdAt | date('j M y') }}
                    </td>
                    <td>
                        {{ subscriber.amount / 100 }}€
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}
