{% extends "layout.twig" %}

{% block title %}
    {% trans %}
        Add a reward
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1 class="text-center">{% trans %}Add a reward{% endtrans %}</h1>
    <form action= "{{ path('shop.rewards' ~ '.create',  {projectId:item.projectId}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_input() }}
        {{ field("projectId", item.projectId, null, {type:'hidden'}) }}
        {% include "@shop/rewards/form.twig" %}
        <small><span class="text-danger">*</span>{% trans %}Mandatory field{% endtrans %}</small><br>

        <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>

        <a class="btn btn-primary ml-3" href="{{ path('shop.rewards', {id: item.projectId}) }}">{% trans "Back" %}</a>

    </form>

{% endblock %}
