{% extends "layout.twig" %}

{% block title %}
    {% trans %}
        Edit a reward
    {% endtrans %}
{% endblock %}

{% block body %}

    {% set name = item.name %}
    <h2>{% trans %}Edit the reward {{ name }}{% endtrans %}</h2>
    <form action= "{{ path('shop.rewards.edit', {projectId: item.projectId, id: item.id}) }}" method="post" enctype="multipart/form-data">
        {{ csrf_input() }}
        {% include "@shop/rewards/form.twig" %}
        <small><span class="text-danger">*</span>{% trans %}Mandatory field{% endtrans %}</small><br>
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>       
        <a class="btn btn-primary ml-3" href="{{ path('shop.rewards', {id: item.projectId}) }}">{% trans "Back" %}</a>
    </form>

{% endblock %}

