<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="row">
            <div class="col-md-6">
                {% set title %}
                    {% trans %}
                        Title
                    {% endtrans %}
                {% endset %}
                {{ field("title", item.title, title ~ '<span class="text-danger">*</span>') }}
            </div>
            <div class="col-md-6">
                {% set amount %}
                    {% trans %}
                        Price
                    {% endtrans %}
                {% endset %}
                {{ field("amount", item.amount | default(1), amount ~ '<span class="text-danger">*</span>', {type:'number', step:'1', min:1}) }}
            </div>
        </div>

        {% set description %}
            {% trans %}
                Description
            {% endtrans %}
        {% endset %}
        {{ field("description", item.description, description, {type: "textarea"}) }}

        <div class="row">
            <div class="col-md-6">
                {% set contMax %}
                    {% trans %}
                        Maximum number of contributors
                    {% endtrans %}
                {% endset %}
                {{ field("contributors_max", item.contributorsMax | default(0), contMax, {type:'number', step:'1', min:"0"})  }}
            </div>
            <div class="col-md-6 my-auto">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="unlimited" id="unlimited" name="unlimited"
                           {% if item.contributorsMax == 0 %}
                               checked="checked"
                           {% endif %}>
                    <label class="form-check-label" for="unlimited">
                        {% trans "Unlimited" %}
                    </label>
                </div>
            </div>
        </div>


    </div>
</div>
