<div class="card mt-2">
    <a href="{{ path('shop.subscription', {gameId: game.id, rewardId: 0}) }}" class="btn btn-primary
       {% if subscriptionUser.rewardId %}disabled{% endif %}">
        {% trans "Subscribe without reward" %}
    </a>
</div>

{% for reward in rewards %}
    <div class="card mt-2 border-primary 
         {% if (reward.contributorsMax != 0 and reward.contributorsNb >= reward.contributorsMax) or (subscriptionUser.rewardId and subscriptionUser.rewardId != reward.id) %}
             special-card
         {% endif %}">

        <div class="card-header text-center">
            <strong>{{ reward.title }}</strong> <br>
            <span class="small text-primary">{{ reward.amount }}{% trans %}€ or more per month{% endtrans %}</span>
        </div>

        {% if reward.description %}
            <div class="list-group-item">
                {{ reward.description }}
            </div>
        {% endif %}

        <div class="list-group-item">
            <span class="small text-muted float-left">
                {% set contributorsNb = reward.contributorsNb %}
                {% trans %}
                    {{ contributorsNb }} contributor
                    {% plural contributorsNb %}
                    {{ contributorsNb }} contributors
                {% endtrans %}
                <br>
                {% if reward.contributorsMax > 0 %}
                    {% set contributorsLeft = reward.contributorsMax - reward.contributorsNb %}
                    {% set contributorsMax = reward.contributorsMax %}
                    {% trans %} Limited ({{ contributorsLeft }} left of {{ contributorsMax }}){% endtrans %}
                {% else %}
                    {% trans "Unlimited" %}
                {% endif %}
            </span>
            {% if current_user().id != game.userId and stripeUserId and (reward.contributorsMax == 0 or reward.contributorsMax > reward.contributorsNb) and not subscriptionUser.rewardId  %}
                <a href="{{ path('shop.subscription', {gameId: game.id, rewardId: reward.id}) }}" class="btn btn-primary float-right">
                    {% trans "Subscribe" %}
                </a>
            {% elseif subscriptionUser.rewardId == reward.id %}
                <div class="float-right text-primary">{% trans "Active subscription" %}</div>
            {% endif %}
        </div> 

    </div>
{% endfor %}
