{% extends "layout.twig" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block body %}

    {% include '@blog/layoutGame.twig' %}

    <div class="row">
        <div class="col-md-3" >
            <small>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
                    </ol>
                </nav>
            </small>

            {% if game.userId == current_user().id or current_user().role == "admin" %}
                <div  class="text-center my-2">
                    <a href="{{ path('surveys' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary">
                        {% trans %}Add a survey{% endtrans %}
                    </a>			
                </div>
            {% endif %}
        </div>

        <div class="col-md-9">	
            <div class="row">
                {% for survey in surveys %}                       
                    <div class="card-deck col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">                            
                        <div class="card shadow">
                            <div class="card-header">
                                <div class="carte-title mb-2">
                                    <small class="text-muted d-block">
                                        {% set createdAt = survey.createdAt|date('j F Y') %}
                                        {% trans %}created on {{ createdAt }}{% endtrans %}
                                    </small>
                                    {{ survey.question }}
                                </div>
                            </div>
                            <div class="card-body">
                                {% if current_user().id == game.userId or survey.vote or (survey.deadline != null and survey.deadline < date()) %}
                                    {% for proposal in survey.proposals %}
                                        {% if survey.nb > 0 %}
                                            {% set pourcentage = proposal.nb / survey.nb * 100 %} 
                                        {% else %}
                                            {% set pourcentage = 0 %}
                                        {% endif %}
                                        <div>
                                            {% if proposal.isImage %}
                                                <img src="{{ proposal.proposal }}" class="img-fluid my-2">
                                            {% else %}
                                                {{ proposal.proposal }}
                                            {% endif %}
                                            <small class="text-muted d-inline">
                                                {% set nb = proposal.nb %}
                                                {% trans %}
                                                    ({{ nb }} vote)
                                                    {% plural nb %}
                                                    ({{ nb }} votes)
                                                {% endtrans %}
                                            </small>                                            
                                        </div>  
                                        <div class="progress">
                                            <div class="progress-bar {% if pourcentage == 0 %}text-dark{% endif %}" role="progressbar" style="width: {{ pourcentage | round(0 )~ "%"}};" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100">
                                                {{ pourcentage | round(1) ~ "%" }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <form action="{{ path('surveys.list', {slug: game.slug, id: game.id}) }}" method="POST" id="{{ "form" ~ survey.id }}">
                                        {{ csrf_input() }}
                                        <input type="hidden" name="surveyId" value="{{ survey.id }}">
                                        {% for proposal in survey.proposals %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="proposal" id="{{ proposal.id }}" value="{{ proposal.id }}" checked>
                                                <label class="form-check-label" for="{{ proposal.id }}">
                                                    {% if proposal.isImage %}
                                                        <img src="{{ proposal.proposal }}" class="img-fluid my-2">
                                                    {% else %}
                                                        {{ proposal.proposal }}
                                                    {% endif %}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </form>
                                {% endif %}
                            </div>
                            {% if not (current_user().id == game.userId or survey.vote) %}
                                <div class="card-footer">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-primary btn-sm my-2" form="{{ "form" ~ survey.id }}">
                                            {% trans "Vote" %}
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>                                    
                    </div>                    
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
