{% extends "layout.twig" %}

{% block body %}

    <h1 class="text-center">{% trans %}Your Badges{% endtrans %}</h1>

    <div class="row">
        {% for badge in badges %}
            {% include '@badge' ~ '/badge.twig' %}
        {% endfor %}
    </div>

{% endblock %}
