<div class="col-md-6 col-xl-4">
    <table>
        <tr>
            <td class="text-center p-2">
                <img src="{{ '/images/badge' ~ badge.badgeId ~ '.png' }}" class="badgeCustom" alt="{{ badge.name }}">
            </td>
            <td class="my-auto">
                <h5 class="text-primary">{{ badge.name }}</h5>
                <div class="text-justify">{{ badge.description }}</div>
            </td>
        <tr>
    </table>
</div>
