<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title "Redbricks " %}</title>
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/3.0.7/flatpickr.css">
        <link  rel="stylesheet" href="/style.css ">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=vjhxldjfar3rwvunaqqkikvpk85214edbmn17xawjqtpfbrn"></script>
        <script>
            tinymce.init({
                selector: '#tinyContent',
                plugins: "image link media advlist lists textcolor colorpicker fullscreen code",
                branding: false,
                menubar: false,
                toolbar: "undo redo | formatselect | bold italic underline removeformat forecolor backcolor | alignleft aligncenter alignright alignjustify | numlist bullist outdent indent | link unlink image media | code fullscreen"
            });
        </script>
    </head>
    <body>

        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand m-auto d-md-none text-center my-2" href="{{ path('blog.index') }}"><img src="/images/logo.png" alt="Redbricks" style="height:30px;" ></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" href="{{ path('user') }}">{% trans "User:" %}</a>
                <ul class="navbar-nav mr-auto">
                    {{ user_menu() }}
                </ul>
                <a class="navbar-brand d-none d-md-block my-2 mr-auto" href="{{ path('blog.index') }}"><img src="/images/logo.png" alt="Redbricks" style="height:44px;" ></a><!--navbar-brand = Logo-->                 
                <div class="navbar-nav">
                    {% include "@localization" ~ "/languageButton.twig" %}
                    {% include "@blog" ~ "/userButton.twig" %}
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            {% if flash("success") %}
                <div class="alert alert-success">
                    {{ flash("success") }}
                </div>
            {% endif %}

            {% if flash("error") %}
                <div class="alert alert-danger">
                    {{ flash("error") }}
                </div>
            {% endif %}

            {% block body %}{% endblock %}

        </div><!-- /.container -->
        {% include "footer.twig" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/3.0.7/flatpickr.js"></script>
        <script>
            flatpickr('#deadline', {
                enableTime: false,
                altInput: true,
                altFormat: 'j F Y',
                dateFormat: 'Y-m-d',
                minDate: new Date().fp_incr(1),
                maxDate: new Date().fp_incr(90)
            });
            flatpickr('#estimatedDate', {
                enableTime: false,
                altInput: true,
                altFormat: 'j F Y',
                dateFormat: 'Y-m-d',
                minDate: new Date().fp_incr(1)
            });
            flatpickr('#deliveryDate', {
                enableTime: false,
                altInput: true,
                altFormat: 'j F Y',
                dateFormat: 'Y-m-d',
                maxDate: "today"
            });
        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    </body>
</html>