<form id="form-add-comment" method="post" action="{{ path('comments', {gameId: game.id|default(0), featureId: feature.id|default(0), bugId: bug.id|default(0), newsId: news.id|default(0)}) }}">
    {{ csrf_input() }}
    {{ field("parentId", 0, null, {type:'hidden'}) }}
    {% if not current_user() %}
        {% set usernameTrans %}{% trans %}Pseudo{% endtrans %}{% endset %}
        {% set emailTrans %}{% trans %}Email{% endtrans %}{% endset %}
        <div class="row">
            <div class="col-md-5">
                {{ field("username", username, usernameTrans) }}
            </div>
            <div class="col-md-5">
                {{ field("email", email, emailTrans, {type: 'email'}) }}
            </div>
        </div>
    {% endif %}
    {% set contentTrans %}{% trans %}Your comment{% endtrans %}{% endset %}
    {{ field("content", content, contentTrans, {type:'textarea'}) }}
    <button type="submit" class="btn btn-primary" name="add" value="add">{% trans "Send" %}</button>
</form>