<div class="card {% if comment.parentId == 0 %}mt-3{% endif %} my-1 shadow" id="comment-{{ comment.id }}">
    <div class="card-header">
        {% if comment.active == 1 %}
            <a class="font-weight-bold" href="{{ path('profile', {id: comment.userId}) }}">{{ comment.author }}</a>
        {% else %}
            {{ comment.author }}
        {% endif %}
        {% if comment.bugId != 0 %}
            {% trans "on" %} <a href="{{ path("bug", {id:comment.bugId}) }}">
                {{ comment.bugTitle }} {% trans "(bug)" %}
            </a>
        {% elseif comment.featureId != 0 %}
            {% trans "on" %} <a href="{{ path("blog.feature.showOneFeature", {slug:comment.featureSlug, id:comment.featureId}) }}">
                {{ comment.featureName }} {% trans "(brick)" %}
            </a>
        {% elseif comment.newsId != 0 %}
            {% trans "on" %} <a href="{{ path("news.show", {id:comment.newsId}) }}">
                {{ comment.newsTitle }} {% trans "(news)" %}
            </a>
        {% endif %}
        {% if comment.userId == game.userId %}
            <span class="badge badge-secondary ml-2">{% trans "Creator" %}</span>
        {% endif %}
        <small class="text-muted float-right"> 
            {{ comment.createdAt | ago}} 

            <button class="btn btn-outline-primary btn-sm ml-2 reply" data-id="{{ comment.id }}" >{% trans "Reply" %}</button>
            {% if current_user().id == comment.userId or game.userId == current_user().id or current_user().role == "admin" %}
                <form class="d-inline" method="post" action="{{ path('comments', {gameId: game.id|default(0), featureId: feature.id|default(0), bugId: bug.id|default(0), newsId: news.id|default(0)}) }}">
                    {{ csrf_input() }}
                    <input type="hidden" name="id" value="{{ comment.id }}">
                    <button class="btn btn-outline-primary btn-sm ml-2 delete" name="delete" value="delete">{% trans "Delete" %}</button>
                </form>
            {% endif %}
        </small>
    </div>
    <div class="card-body {% if comment.userId == game.userId %}bg-primary-light{% endif %}">
        {{ comment.content | nl2br }}
    </div>
</div>

<div class="ml-5">
    {% if comment.children %}
        {% for comment in comment.children %}
            {% include '@comments' ~ '/comment.twig' %}
        {% endfor %}
    {% endif %}
</div>
