{% extends 'layout.twig' %}

{% block body %}

    {% include '@about/menuLayout.twig' %}

    <h1 class="text-primary text-center my-5">
        {% trans %}
            Business Model
        {% endtrans %}
    </h1>

    <div class="container text-justify">

        <h3>{% trans %}Fees and commissions{% endtrans %}</h3>

        <p>{% trans %}We have decided not to collect fees on financial transactions 
            on RedBricks, so that everyone could access the platform’s functionalities, no matter their budget.{% endtrans %}</p>

        <p>{% trans %}The only fees are from our payment solution provider, Stripe.{% endtrans %}</p>

        <h3>{% trans %}Nous soutenir financièrement{% endtrans %}</h3>

        <p>{% trans %}
            Parce que nous savons que vous êtes tous différents et que vos revenus peuvent varier, nous vous laissons la liberté de
            choisir quand et comment nous aider financièrement. Il y a deux façons de nous soutenir :
            {% endtrans %}
            <ul>
                <li>
                    {% trans %}
                        Participer au projet RedBricks : le projet de développement de notre plateforme se trouve sur notre plateforme !
                        Il est donc possible de tiper ou de financer des briques correspondants aux futures évolutions de RedBricks.
                    {% endtrans %}
                </li><li>
                    {% trans %}
                        Nous consacrer une partie des contributions : à chaque don de la part des joueurs, ceux-ci ont la possibilité 
                        de donner une partie de ce montant à RedBricks. Quant aux créateurs, c’est au moment de la création de leurs projets 
                        qu’ils vont décider de donner une partie des fonds récoltés à notre plateforme.
                    {% endtrans %}
                </li>
            </ul>
            {% trans %}Nous vous rappelons que RedBricks n'existe que <span class="font-weight-bold">pour vous et grâce à vous</span>.{% endtrans %}
        </p>

        <h3>{% trans %}A quoi servent les dons ?{% endtrans %}</h3>

        <p>{% trans %}L'argent provonnant des financements d'une brique nous sert exclusivement à payer les coûts directs de cette brique : 
            salaire de nos développeurs, rétribution des prestataires etc. Nous prevoyons néanmoins une marge de sécurité nous permettant 
            d'assurer la correction des éventuels bugs liés à ces ajouts, les contre temps et une petite marge de bénéfice.{% endtrans %}</p>

        <p>{% trans %}Le reste des dons, que ce soit les tips ou les dons indirects, servent à financer tous les frais de fonctionnement de la société :
            coût des serveurs, salaire des employés administratifs et commerciaux, locaux, matériel informatique, frais administratif etc. En cas
            de bénéfice important, <span class="font-weight-bold">nous nous engageons à réinvestir l'excédent dans le développement de RedBricks</span> en vous proposant de nouveaux ajouts
            gratuits !{% endtrans %}</p>

    </div>

    {% endblock %}
