{% extends 'layout.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">POLITIQUE DE CONFIDENTIALITÉ</h1>

            <h3>Définitions</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    <span class="font-weight-bold">Client :</span> Tout professionnel ou personne physique 
                    capable au sens des articles 1123 et suivants du Code civil, ou personne morale, 
                    qui visite le Site objet des présentes conditions générales.
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Prestations et Services :</span>  Ethical Games met à disposition
                    des Clients sa plateforme RedBricks à l’adresse suivante : <a href="https://redbricks.games">https://redbricks.games. </a>
                    Les Prestations et Services sont détaillés dans les conditions générales d’utilisation 
                    consultables ici <a href="{{ path('about.terms') }}">https://redbricks.games/about/terms</a>
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Contenu :</span> Ensemble des éléments constituants 
                    l’information présente sur le Site, notamment textes – images – vidéos.
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Informations clients :</span> Ci après dénommées « Information (s) » 
                    qui correspondent à l’ensemble des données personnelles susceptibles d’être détenues 
                    par <a href="https://redbricks.games">https://redbricks.games</a> pour la gestion de votre compte, la gestion 
                    de la relation utilisateur et à des fins d’analyses et de statistiques.
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Utilisateur :</span> Internaute se connectant, utilisant le site susnommé.
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Informations personnelles :</span> « Les informations qui permettent, 
                    sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques 
                    auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).
                </div>
                <div class="my-2">
                    Les termes « données à caractère personnel », « personne concernée », « sous traitant » et 
                    « données sensibles » ont le sens défini par le Règlement Général sur la Protection des Données (RGPD : n° 2016-679)
                </div>
            </div>

            <h3 class="mt-4">1. Présentation du site internet.</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, 
                    il est précisé aux utilisateurs du site internet <a href="https://redbricks.games">https://redbricks.games</a>
                     l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Propriétaire :</span> Association loi 1901 « Ethical Games » 
                    –  14E rue des Longs Près, 35700 Rennes.
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Responsable publication :</span> Aline BARDOU – ethicalgames.asso@gmail.com
                    Le responsable publication est une personne physique ou une personne morale.
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Webmaster :</span> Aline BARDOU – ethicalgames.asso@gmail.com
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Hébergeur :</span> OVH  – 2 rue Kellermann 59100 Roubaix 1007
                </div>
                <div class="my-2">
                    <span class="font-weight-bold">Délégué à la protection des données :</span> Aline BARDOU – ethicalgames.asso@gmail.com
                </div>
                <div class="my-2">
                    Le modèle de mentions légales est proposé par <a href="https://fr.orson.io/1371/generateur-mentions-legales">
                        Générateur de mentions légales d’un site internet</a>
                </div>
            </div>

            <h3 class="mt-4">2. Conditions générales d’utilisation du site et des services proposés.</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Le Site constitue une œuvre de l’esprit protégée par les dispositions du Code de la Propriété 
                    Intellectuelle et des Réglementations Internationales applicables. Le Client ne peut en aucune 
                    manière réutiliser, céder ou exploiter pour son propre compte tout ou partie des éléments ou travaux du Site.
                </div>
                <div class="my-2">
                    L’utilisation du site <a href="https://redbricks.games">https://redbricks.games</a> implique l’acceptation pleine et entière des 
                    conditions générales d’utilisation décrites à l'adresse suivante : <a href="{{ path('about.terms') }}">https://redbricks.games/about/terms</a>, 
                    ainsi que l’acceptation des informations légales ci-après.
                </div>
                <div class="my-2">
                    Ces informations sont susceptibles d’être modifiées ou complétées à tout moment, 
                    les utilisateurs du site <a href="https://redbricks.games">https://redbricks.games</a> sont donc 
                    invités à les consulter de manière régulière.
                </div>
                <div class="my-2">
                    Ce site internet est normalement accessible à tout moment aux utilisateurs. 
                    Une interruption pour raison de maintenance technique peut être toutefois décidée par Ethical Games, 
                    qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention. 
                    Le site web <a href="https://redbricks.games">https://redbricks.games</a> est mis à jour régulièrement par le responsable. 
                    De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent 
                    néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.
                </div>
            </div>

            <h3 class="mt-4">3. Description des services fournis.</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Le site internet <a href="https://redbricks.games">https://redbricks.games</a> a pour objet 
                    de fournir une information concernant l’ensemble des activités de la Société. Ethical Games s’efforce 
                    de fournir sur le site <a href="https://redbricks.games">https://redbricks.games</a> des 
                    informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des oublis, des 
                    inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers 
                    partenaires qui lui fournissent ces informations.
                </div>
                <div class="my-2">
                    Toutes les informations indiquées sur le site <a href="https://redbricks.games">https://redbricks.games</a>
                     sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements
                    figurant sur le site <a href="https://redbricks.games">https://redbricks.games</a> ne sont pas exhaustifs. 
                    Ils sont donnés sous réserve des modifications ayant été apportées depuis leur mise en ligne.
                </div>
            </div>

            <h3 class="mt-4">4. Limitations contractuelles sur les données techniques.</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Le site utilise la technologie JavaScript. Le site Internet ne pourra être tenu responsable 
                    de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en
                    utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération à jour. 
                    Le site <a href="https://redbricks.games">https://redbricks.games</a> est hébergé chez un 
                    prestataire sur le territoire de l’Union Européenne conformément aux dispositions du Règlement Général sur la Protection 
                    des Données (RGPD : n° 2016-679)
                </div>
                <div class="my-2">
                    L’objectif est d’apporter une prestation qui assure le meilleur taux d’accessibilité. L’hébergeur assure la 
                    continuité de son service 24 Heures sur 24, tous les jours de l’année. Il se réserve néanmoins la possibilité 
                    d’interrompre le service d’hébergement pour les durées les plus courtes possibles notamment à des fins de maintenance, 
                    d’amélioration de ses infrastructures, en cas de défaillance de ses infrastructures ou si les Prestations et Services 
                    génèrent un trafic réputé anormal.
                </div>
                <div class="my-2">
                    <a href="https://redbricks.games">https://redbricks.games</a> et l’hébergeur ne pourront être tenus 
                    responsables en cas de dysfonctionnement du réseau Internet, des lignes téléphoniques ou du matériel informatique 
                    et de téléphonie lié notamment à l’encombrement du réseau empêchant l’accès au serveur.
                </div>
            </div>

            <h3 class="mt-4">5. Propriété intellectuelle et contrefaçons.</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    <a href="https://redbricks.games">https://redbricks.games</a> est propriétaire des droits de 
                    propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, 
                    notamment les textes, images, graphismes, logos, vidéos, icônes et sons à l’exception évidente des projets des Créateurs. 
                    Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel 
                    que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable d’Ethical Games.
                </div>
                <div class="my-2">
                    Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme 
                    constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de 
                    Propriété Intellectuelle.
                </div>
            </div>

            <h3 class="mt-4">6. Limitations de responsabilité.</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Ethical Games agit en tant qu’éditeur du site <a href="https://redbricks.games">https://redbricks.games</a>
                     et responsable de la qualité et de la véracité du Contenu qu’il publie (hors contributions des Utlisateurs).
                </div>
                <div class="my-2">
                    Ethical Games ne pourra être tenu responsable des dommages directs et indirects causés au matériel de l’utilisateur, 
                    lors de l’accès au site internet <a href="https://redbricks.games">https://redbricks.games</a>, et résultant 
                    soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou 
                    d’une incompatibilité.
                </div>
                <div class="my-2">
                    Ethical Games ne pourra également être tenu responsable des dommages indirects (tels par exemple qu’une perte de marché ou
                    perte d’une chance) consécutifs à l’utilisation du site <a href="https://redbricks.games">https://redbricks.games</a>.
                    Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des Utilisateurs. 
                    Ethical Games se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait
                    à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, 
                    Ethical Games se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, 
                    notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé 
                    (texte, photographie …).
                </div>
            </div>

            <h3 class="mt-4">7. Gestion des données personnelles.</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans 
                    l’Économie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données 
                    (RGPD : n° 2016-679).
                </div>
            </div>

            <h4 class="mt-4">7.1 Responsables de la collecte des données personnelles</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    Pour les Données Personnelles collectées dans le cadre de la création du compte personnel de l’Utilisateur et de sa 
                    navigation sur le Site, le responsable du traitement des Données Personnelles est l'association Ethical Games. Ethical Games est 
                    représentée par Aline BARDOU, son représentant légal.
                </div>
                <div class="my-2">
                    En tant que responsable du traitement des données qu’il collecte Ethical Games s’engage à respecter le cadre des dispositions 
                    légales en vigueur. Il lui appartient notamment d’établir les finalités de ses traitements de données, de fournir à ses 
                    prospects et clients, à partir de la collecte de leurs consentements, une information complète sur le traitement de leurs 
                    données personnelles et de maintenir un registre des traitements conforme à la réalité. Chaque fois 
                    que <a href="https://redbricks.games">https://redbricks.games</a> traite des Données Personnelles, 
                    Ethical Games prend toutes les mesures raisonnables pour s’assurer de l’exactitude et de la pertinence des Données Personnelles 
                    au regard des finalités pour lesquelles <a href="https://redbricks.games">https://redbricks.games</a> les traite.
                </div>
            </div>

            <h4 class="mt-4">7.2 Finalité des données collectées</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    <a href="https://redbricks.games">https://redbricks.games</a> est susceptible de traiter tout ou partie des 
                    données :
                </div>
                <ul class="text-justify">   
                    <li>pour permettre la navigation sur le Site et la gestion et la traçabilité des prestations et services commandés par 
                        l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc.</li>
                     
                    <li>pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la 
                        navigation, l’adresse IP, le mot de passe (chiffré)</li>
                     
                    <li>pour améliorer la navigation sur le Site : données de connexion et d’utilisation</li>
                     
                    <li>pour mener des enquêtes de satisfaction facultatives sur 
                        <a href="https://redbricks.games">https://redbricks.games</a> : adresse email</li>

                    <li>pour mener des campagnes de communication (sms, mail) : adresse email</li>
                </ul>
                <div class="my-2">
                    <a href="https://redbricks.games">https://redbricks.games</a> ne commercialise pas vos données personnelles 
                    qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses.
                     </div>
            </div>

            <h4 class="mt-4">7.3 Droit d’accès, de rectification et d’opposition</h4>
            <div class="text-justify my-2">
                <div class="my-2">   
                    Conformément à la réglementation européenne en vigueur, les Utilisateurs de 
                    <a href="https://redbricks.games">https://redbricks.games</a> disposent des droits suivants :
                     </div>
                <ul class="text-justify">
                    <li>droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs, 
                        droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), 
                        lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication 
                        ou la conservation est interdite</li>
                     
                    <li>droit de retirer à tout moment un consentement (article 13-2c RGPD)</li>
                     
                    <li>droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)</li>
                     
                    <li>droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)</li>
                     
                    <li>droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements 
                        automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)</li>
                     
                    <li>droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui Ethical Games 
                        devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné</li>
                </ul>
                <div class="my-2">
                    Dès que Ethical Games  a connaissance du décès d’un Utilisateur et à défaut d’instructions de sa part, la Société  
                    s’engage à détruire ses données, sauf si leur conservation s’avère nécessaire à des fins probatoires ou pour répondre 
                    à une obligation légale.
                </div>
                <div class="my-2">
                    Si l’Utilisateur souhaite savoir comment <a href="https://redbricks.games">https://redbricks.games</a> utilise 
                    ses Données Personnelles, demander à les rectifier ou s’opposer à leur traitement, l’Utilisateur peut contacter
                    <a href="https://redbricks.games">https://redbricks.games</a> par écrit à l’adresse suivante :<br>
                    Ethical Games – Aline BARDOU <br>
                    14E rue des Longs Près, 35700 Rennes.  
                </div>
                <div class="my-2">
                    Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que 
                    <a href="https://redbricks.games">https://redbricks.games</a> corrige, mette à jour ou supprime, 
                    en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport).
                </div>
                <div class="my-2">
                    Les demandes de suppression de Données Personnelles seront soumises aux obligations qui sont imposées à 
                    <a href="https://redbricks.games">https://redbricks.games</a> par la loi, notamment en matière de conservation 
                    ou d’archivage des documents. Enfin, les Utilisateurs de <a href="https://redbricks.games">https://redbricks.games</a>
                    peuvent déposer une réclamation auprès des autorités de contrôle, et notamment de la CNIL (
                    <a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a>).
                </div>
            </div>

            <h4 class="mt-4">7.4 Non-communication des données personnelles</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    <a href="https://redbricks.games">https://redbricks.games</a> s’interdit de traiter, héberger ou 
                    transférer les Informations collectées sur ses Clients vers un pays situé en dehors de l’Union européenne ou 
                    reconnu comme « non adéquat » par la Commission européenne sans en informer préalablement le client. Pour autant, 
                    Ethical Games  reste libre du choix de ses sous-traitants techniques et commerciaux à la condition qu’il présentent les 
                    garanties suffisantes au regard des exigences du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
                </div>
                <div class="my-2">
                    <a href="https://redbricks.games">https://redbricks.games</a> s’engage à prendre toutes les précautions 
                    nécessaires afin de préserver la sécurité des Informations et notamment qu’elles ne soient pas communiquées à des 
                    personnes non autorisées. Cependant, si un incident impactant l’intégrité ou la confidentialité des Informations du
                    Client est portée à la connaissance de Ethical Games , celle-ci devra dans les meilleurs délais informer le Client et lui 
                    communiquer les mesures de corrections prises. Par ailleurs <a href="https://redbricks.games">https://redbricks.games</a>
                     ne collecte aucune « données sensibles ».
                </div>
                <div class="my-2">
                    Les Données Personnelles de l’Utilisateur peuvent être traitées par des filiales de Ethical Games et des sous-traitants 
                    (prestataires de services), exclusivement afin de réaliser les finalités de la présente politique.
                </div>
                <div class="my-2">
                    Dans la limite de leurs attributions respectives et pour les finalités rappelées ci-dessus, les principales personnes
                    susceptibles d’avoir accès aux données des Utilisateurs de <a href="https://redbricks.games">https://redbricks.games</a>
                     sont principalement les agents de notre service client.
                </div>
            </div>

            <h3 class="mt-4">8. Notification d’incident</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Quels que soient les efforts fournis, aucune méthode de transmission sur Internet et aucune méthode de stockage 
                    électronique n'est complètement sûre. Nous ne pouvons en conséquence pas garantir une sécurité absolue. Si nous prenions 
                    connaissance d'une brèche de la sécurité, nous avertirions les utilisateurs concernés afin qu'ils puissent prendre les 
                    mesures appropriées. Nos procédures de notification d’incident tiennent compte de nos obligations légales, qu'elles se
                    situent au niveau national ou européen. Nous nous engageons à informer pleinement nos clients de toutes les questions
                    relevant de la sécurité de leur compte et à leur fournir toutes les informations nécessaires pour les aider à respecter 
                    leurs propres obligations réglementaires en matière de reporting.
                </div>
                <div class="my-2">
                    Aucune information personnelle de l'utilisateur du site <a href="https://redbricks.games">https://redbricks.games</a> 
                    n'est publiée à son insu, ni échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du 
                    rachat de <a href="https://redbricks.games">https://redbricks.games</a> et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur 
                    qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site
                     <a href="https://redbricks.games">https://redbricks.games</a>.
                </div>
            </div>

            <h4 class="mt-4">Sécurité</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    Pour assurer la sécurité et la confidentialité des Données Personnelles, 
                    <a href="https://redbricks.games">https://redbricks.games</a> utilise des réseaux protégés par des 
                    dispositifs standards tels que par pare-feu, la pseudonymisation, l’encryption et mot de passe.
                </div>
                <div class="my-2">
                    Lors du traitement des Données Personnelles, <a href="https://redbricks.games">https://redbricks.games</a>
                    prend toutes les mesures raisonnables visant à les protéger contre toute perte, utilisation détournée, accès non autorisé,
                    divulgation, altération ou destruction.
                </div>
            </div>

            <h3 class="mt-4">9. Liens hypertextes « cookies » et balises (« tags ») internet</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Le site <a href="https://redbricks.games">https://redbricks.games</a> contient un certain nombre de liens
                    hypertextes vers d’autres sites, mis en place avec l’autorisation d'Ethical Games . Cependant, 
                    <a href="https://redbricks.games">https://redbricks.games</a> n’a pas la possibilité de vérifier le contenu des 
                    sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.
                </div>
                <div class="my-2">
                    Sauf si vous décidez de désactiver les cookies, vous acceptez que le site puisse les utiliser. Vous pouvez à tout moment 
                    désactiver ces cookies et ce gratuitement à partir des possibilités de désactivation qui vous sont offertes et rappelées ci-après, 
                    sachant que cela peut réduire ou empêcher l’accessibilité à tout ou partie des Services proposés par le site.
                </div>
            </div>

            <h4 class="mt-4">9.1. « COOKIES »</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    Un « cookie » est un petit fichier d’information envoyé sur le navigateur de l’Utilisateur et enregistré au sein du 
                    terminal de l’Utilisateur (ex : ordinateur, smartphone), (ci-après « Cookies »). Ce fichier comprend des informations 
                    telles que le nom de domaine de l’Utilisateur, le fournisseur d’accès Internet de l’Utilisateur, le système d’exploitation de 
                    l’Utilisateur, ainsi que la date et l’heure d’accès. Les Cookies ne risquent en aucun cas d’endommager le terminal de l’Utilisateur.
                </div>
                <div class="my-2">
                    Ethical Games n’utilise de cookie pour son site <a href="https://redbricks.games">https://redbricks.games</a>
                </div>
                <div class="my-2">
                    Cependant, l’hébergeur OVH utilise des cookies techniques non soumis à la réglementation pour la gestion de 
                    l'espace mutualisé (répartition de la charge sur les serveurs entre autres).
                </div>
                <div class="my-2">
                    Aussi, en cliquant sur les icônes dédiées aux réseaux sociaux Twitter, Facebook et Linkedin figurant sur le Site 
                    de <a href="https://redbricks.games">https://redbricks.games</a> ou dans son application mobile et si 
                    l’Utilisateur a accepté le dépôt de cookies en poursuivant sa navigation sur le Site Internet ou l’application mobile 
                    de <a href="https://redbricks.games">https://redbricks.games</a>, Twitter, Facebook et Linkedin peuvent 
                    également déposer des cookies sur vos terminaux (ordinateur, tablette, téléphone portable).
                </div>
            </div>

            <h4 class="mt-4">Article 9.2. BALISES (« TAGS ») INTERNET</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    Les balises Internet (également appelées « tags », ou balises d’action, GIF à un pixel, GIF transparents, 
                    GIF invisibles et GIF un à un) peuvent être déployées par l’intermédiaire d’un partenaire spécialiste 
                    d’analyses Web susceptible de se trouver (et donc de stocker les informations correspondantes, y compris 
                    l’adresse IP de l’Utilisateur) dans un pays étranger.
                </div>
                <div class="my-2">
                    Ethical Games n’utilise pas de tags pour son site <a href="https://redbricks.games">https://redbricks.games</a>
                </div>
            </div>

            <h3 class="mt-4">10. Droit applicable et attribution de juridiction</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Tout litige en relation avec l’utilisation du site <a href="https://redbricks.games">https://redbricks.games</a>
                     est soumis au droit français. En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive 
                    de juridiction aux tribunaux compétents de Cahors.
                </div>
            </div>

        </div>
    </div>

{% endblock %}