{% extends 'layout.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">SÉCURITÉ ET BONNES PRATIQUES</h1>

            <div class="text-justify my-3">
                Internet est un espace de découverte et de liberté, dont nous ne cesserons d’encourager l’utilisation. 
                Cependant, et afin d’éviter toute mauvaise surprise, voici quelques conseils de sécurité pour venir 
                chez nous l’esprit tranquille :
            </div>

            <ul class="text-justify">
                <li class="my-2"><span class="font-weight-bold">Publication responsable et raisonnable :</span> La plupart des contenus que vous déposerez sur 
                    RedBricks seront publics et consultables par tous. Faites attention à ce que vous publiez 
                    sur Internet et protégez vos données les plus sensibles. </li>

                <li class="my-2"><span class="font-weight-bold">Ne communiquez jamais vos données personnelles :</span> Le seul endroit où vous aurez à saisir 
                    votre mot de passe est l'écran de connexion de RedBricks. Si quelqu'un vous demande vos 
                    informations d’accès, ou si vous pensez avoir reçu un e-mail frauduleux ou une tentative 
                    d'escroquerie de la part de quelqu'un qui essaie de se faire passer pour une société affiliée 
                    à RedBricks (« phishing »), n'y répondez surtout pas et contactez nous. </li>
            </ul>

            <div class="text-justify mt-5 mb-3">
                Notre but est de proposer une plateforme sécurisée, éthique et honnête, propice à la collaboration
                entre joueurs et créateurs, afin de mettre en avant la création communautaire dans le jeu vidéo. 
                RedBricks héberge donc des projets créés par des passionnés, fidèlement soutenus par leur communauté. 
                C’est pourquoi la sécurité de ces données inestimables est notre priorité :
            </div>

            <ul class="text-justify">
                <li class="my-2"><span class="font-weight-bold">Protocle HTTPS</span> pour une navigation et une transmission des données sécurisée.<br>
                    <img src="/images/image_security_1.png"></li>


                <li class="my-2">Accès  aux comptes via un couple <span class="font-weight-bold">identifiant/mot de passe</span> que l’utilisateur 
                    est le seul à connaître.<br>
                <img src="/images/image_security_2.png" class="border"></li>


                <li class="my-2"><span class="font-weight-bold">Données personnelles chiffrées</span> et stockées de façon sécurisée. 
                    Retrouvez notre politique de confidentialité ici : 
                    <a href="{{ path('about.privacy') }}">https://redbricks.games/about/privacy</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}