The brick {{ feature.name }} has been modified for the project : {{ game.name }}.

{{ feature.name }} posted by {{ feature.author }}
(status: {{ feature.statusName }})
{{ feature.content }}

---
The RedBricks Team
