Hello {{ user.username }},
One of your brick or bug report has been modified for the project : {{ game.name }}.

{% if bug %}
    {{ bug.title }}
{% else %}
    {{ feature.name }}
{% endif %}
(status: {% if bug %}{{ bug.statusName }}{% else %}{{ feature.statusName }}{% endif %})
{% if bug %}
    {{ bug.description }}
{% else %}
    {{ feature.content }}
{% endif %}

---
The RedBricks Team
