<div class="row">
    <div class="col-md-8 offset-md-2">
        {% set title %}
            {% trans %}
                Title
            {% endtrans %}
        {% endset %}
        {{ field("title", item.title, title) }}
        <div class= "form-group" >
            <label for="tinyContent">{% trans "Content" %}</label>
            <textarea class="form-control" name="content" id="tinyContent" style="height: 10rem;">{{item.content}}</textarea>
        </div>
    </div>
</div>
