{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Manage News
    {% endtrans %}
{% endblock %}

{% block body %}
    {% set gameName = game.name %}
    <h2>{% trans %}Edit the news of {{ gameName }}{% endtrans %}</h2>
    <p class= "text-right">
        <a href="{{ path('news' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary">
            {% trans %}Add a News{% endtrans %}
        </a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Actions" %}</td>
            </tr>
        </thead>
        <tbody>
            {% set token_input = csrf_input() %}	
            {% for n in news %}
                {% if (n.userId == current_user().id) or (game.userId == current_user().id) or (current_user().role== "admin")   %}
                    <tr>
                        <td>
                            {{ n.title }}
                            <a href="{{ path('news.show', {id:n.id}) }}" class="ml-2"><i class="fas fa-eye"></i></a>
                        </td>

                        {% if (game.userId == current_user().id) or (current_user().role== "admin") %}
                            <td>
                                <a href="{{  path( 'news' ~ '.edit', {projectId:game.id, id:n.id}) }}" class="btn btn-primary">{% trans "Edit" %}</a>
                            </td>
                            <td>
                                <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ n.id }}]">{% trans "Delete" %}</button >
                                <div class="modal fade" id="confirmation[{{ n.id }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                {% set title = n.title %}
                                                <h4 class="modal-title">{% trans %}Delete {{ title }}?{% endtrans %}</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <form style="display: inline;" action="{{  path('news' ~ '.delete', {projectId:game.id, id:n.id}) }}" method="POST" >
                                                    <input type="hidden" name="_method" value="DELETE">
                                                    <button class="btn btn-danger">{% trans "Confirm" %}</button>
                                                    {{ token_input | raw  }}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        {% endif %}

                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
