{{ csrf_input() }}
{% set name %}{% trans %}Licence{% endtrans %}{% endset %}
{{ field("name", item.name, name ) }}
{% set slug %}{% trans %}Slug{% endtrans %}{% endset %}
{{field("slug", item.slug, slug ) }}
