{% extends "@admin/layout.twig" %}

{% block title "Add a status" %}

    {% block body %}

        <h1>Add a status</h1>

        <form action= "{{ path(routePrefix ~ '.create') }}" method="post">
            {% include viewPath ~ "/form.twig" %}
            <button class="btn btn-primary" type="submit">Add</button>
            <a class="btn btn-primary ml-3" href="{{ path(routePrefix ~ '.index') }}">Back</a>
        </form>

    {% endblock %}