{% extends "layout.twig" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block body %}

    {% include '@blog/layoutGame.twig' %}

    <div class="row">
        <div class="col-md-3" >
            <small>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
                    </ol>
                </nav>
            </small>
        </div>

        <div class="col-md-9">	
            <div class="row">
                {% for contributor in contributors %}
                    <div class="col-md-2 text-center">
                        {% if contributor.avatar %}
                            <img class="p-md-1 p-lg-2 p-xl-3 rounded-circle" src="{{ contributor.avatarThumb }}" alt="" style="width:100%;">
                        {% else %}
                            <img class="p-md-1 p-lg-2 p-xl-3 rounded-circle" src="/images/unknow.png" alt="" style="width: 100%;">
                        {% endif %}
                        {% if contributor.active == 1 %}
                            <a href="{{ path('profile', {id: contributor.id}) }}">
                                {{ contributor.displayname }}
                            </a>
                        {% else %}
                            {{ contributor.displayname }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
