{% extends 'layout.twig' %}

{% block title %}
    {% trans "Payment" %}
{% endblock %}

{% block body %}

    {% set gameName = game.name %}

    <div class="col-md-8 offset-2 my-auto">
        <div class="card border-primary shadow">
            <div class="card-header">
                <h1 class="text-center">{% trans %}Recap of the subscription to {{ gameName }}{% endtrans %}</h1>
            </div>
            <div class="list-group-item">
                <strong>{% trans %}Reward:{% endtrans %}</strong> {{ reward.title }}<br>
                {% trans %}Description:{% endtrans %} {{ reward.description }}
            </div>
            <div class="list-group-item font-weight-bold">
                {% trans %}Your monthly subscription:{% endtrans %} {{ amount }}€
            </div>
            <div class="list-group-item">
                {% trans %}Stripe's fee*:{% endtrans %} {{ amount * 0.029 + 0.25 }}€<br>
                <small class="text-muted">{% trans %}*This fees may change depending on the bank card and the country.{% endtrans %}</small>
            </div>
            {#<div class="list-group-item">
                {% trans %}Net total to RedBricks:{% endtrans %} €<br>
                <small class="text-muted ml-3">{% trans %}Creator:{% endtrans %} <span id="contributionCreator"></span>€</small><br>
                <small class="text-muted ml-3">{% trans %}You:{% endtrans %} <span id="contributionUser"></span>€</small>
            </div>#}
            <div class="list-group-item text-primary font-weight-bold">
                {% trans %}Net total to Studio:{% endtrans %} {{ amount - (amount * 0.029 + 0.25) }}€
            </div>
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('blog.show', {slug: game.slug, id: game.id}) }}">{% trans "Cancel" %}</a>
        <a class="btn btn-primary" href="{{ path('shop.subscription', {gameId: game.id, rewardId: reward.id}) }}">{% trans "Change" %}</a>
        <button id="payButton" class="btn btn-primary" data-amount="1">{% trans "Pay" %}</button>
    </div>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        var stripe = Stripe('{{ stripeKey }}', {
            stripeAccount: '{{ stripeAccount }}'
        });
        $('#payButton').on('click', function (e) {
            stripe.redirectToCheckout({
                sessionId: '{{ session.id }}'
            }).then(function (result) {
                result.error.message;
            });
            e.preventDefault();
        });
    </script>

{% endblock %}
