{% extends 'layout.twig' %}

{% block title %}
    {% trans "Subscription" %}
{% endblock %}

{% block body %}

    {% set gameName = game.name %}

    <h1 class="text-center">{% trans %}Subscription to {{ gameName }}{% endtrans %}</h1>
    <form action="{{ path('shop.process.payment', {gameId: game.id, rewardId: reward.id}) }}" method="POST">
        {{ csrf_input() }}

        <div class="row">
            <div class="col-md-3 offset-md-3">
                {{ field("amount", reward.amount, "Choose what you pay", {type: 'number', step: '0.01', min: reward.amount}) }}
            </div>

            <div class="col-md-3 card border-primary my-auto">
                <div class="form-group">
                    <label class="text-primary" for="reward">
                        <strong>
                            {% trans %}
                                Reward:
                            {% endtrans %}
                        </strong>
                    </label>
                    <select class="form-control" id="reward" name="rewardId">
                        <option value="0" {% if not reward.id %}selected="selected"{% endif %}>
                            {% trans %}
                                Subscription without reward
                            {% endtrans %}
                        </option>
                        {% for r in rewards %}
                            <option value="{{ r.id }}" {% if r.id == reward.id %}selected="selected"{% endif %}>
                                {{ r.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div id="descriptionReward">
                    {{ reward.description }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div>
                    {% trans %}
                        You will be charged on the 1st of each month. You can cancel or edit your payment at any time. 
                        The currently month is not credited.
                    {% endtrans %}
                </div>

                <a href="{{ path("blog.show", {slug: game.slug, id:game.id}) }}" class="btn btn-primary">{% trans "Cancel" %}</a>
                <button id="customButton1" class="btn btn-primary">{% trans "Validate" %}</button>

            </div>
        </div>
    </form>

    <script>
        $('#reward').change(function () {
            var id = $("select option:selected").val();
            var rewards = {{ rewards | json_encode() }};
                    $.each(rewards, function (index, reward) {
                        alert();
                    });
            $('#descriptionReward').text("");
        });
    </script>

{% endblock %}