{% extends 'layout.twig' %}

{% block body %}

    <h1 class="text-center mb-3">{% trans %}Suggest a project{% endtrans %}</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                {% trans %}
                    You would like to see a game on RedBricks but cannot find its profile? 
                    Please tell us and we will contact the studio on your behalf.
                {% endtrans %}
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12">
                <form class="form-inline" method="POST">
                    {% trans %}Suggest a game that is not in the list:{% endtrans %}
                    {{ csrf_input() }}
                    <label class="sr-only" for="studio">{% trans "Studio" %}</label>
                    <input type="text" class="form-control mx-2" id="studio" name="studio" placeholder="Studio" value="{{ new.studio }}" maxlength="100">

                    <label class="sr-only" for="game">{% trans "Game" %}</label>
                    <input type="text" class="form-control mx-2" id="game" name="game" placeholder="Game" value="{{ new.game }}" maxlength="100">

                    <button type="submit" class="btn btn-primary mx-2" name="new">{% trans "Add" %}</button>
                </form>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-12">
                <form class="form-inline" method="GET">
                    {{ csrf_input() }}
                    {% trans %}Search for a game or a studio:{% endtrans %}
                    <label class="sr-only" for="search">{% trans "Search" %}</label>
                    <div class="input-group mx-2">
                        <input type="text" class="form-control" id="search" name="search" placeholder="{% trans "search..." %}" maxlength="100" value="{{ search }}">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    {% if search %}
                        <a href="{{ path('suggestion') }}" class="btn btn-primary"><i class="fas fa-times"></i></a>
                        {% endif %}
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-4 text-center">
                {% if category == "studio" and sort == "up" %}
                    <a href="{{ path('suggestion.sort', {category:'studio', sort:'down'}) }}">
                        <span class="font-weight-bold mr-1">{% trans "Studio" %}</span>
                        <i class="fas fa-sort-up"></i>
                    </a>
                {% elseif category == "studio" %}
                    <a href="{{ path('suggestion.sort', {category:'studio', sort:'up'}) }}">
                        <span class="font-weight-bold mr-1">{% trans "Studio" %}</span>     
                        <i class="fas fa-sort-down"></i>
                    </a>
                {% else %}
                    <a href="{{ path('suggestion.sort', {category:'studio', sort:'down'}) }}">
                        {% trans "Studio" %}
                    </a>
                {% endif %}
            </div>
            <div class="col-4 text-center">     
                {% if category == "game" and sort == "up" %}
                    <a href="{{ path('suggestion.sort', {category:'game', sort:'down'}) }}">
                        <span class="font-weight-bold">{% trans "Game" %}</span>
                        <i class="fas fa-sort-up"></i>
                    </a>
                {% elseif category == "game" %}
                    <a href="{{ path('suggestion.sort', {category:'game', sort:'up'}) }}">
                        <span class="font-weight-bold">{% trans "Game" %}</span>
                        <i class="fas fa-sort-down"></i>
                    </a>
                {% else %}
                    <a href="{{ path('suggestion.sort', {category:'game', sort:'down'}) }}">
                        {% trans "Game" %}
                    </a>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                {% if category == "votes" and sort == "up" %}
                    <a href="{{ path('suggestion.sort', {category:'votes', sort:'down'}) }}">
                        <span class="font-weight-bold">{% trans "Votes" %}</span>
                        <i class="fas fa-sort-up"></i>
                    </a>
                {% elseif category == "votes" %}
                    <a href="{{ path('suggestion.sort', {category:'votes', sort:'up'}) }}">
                        <span class="font-weight-bold">{% trans "Votes" %}</span>
                        <i class="fas fa-sort-down"></i>
                    </a>
                {% else %}
                    <a href="{{ path('suggestion.sort', {category:'votes', sort:'down'}) }}">
                        {% trans "Votes" %}
                    </a>
                {% endif %}
            </div>
        </div>

        {% for suggestion in suggestions %}
            <div class="row my-2">
                <div class="col-4">
                    {{ suggestion.studio }}
                </div>
                <div class="col-4">
                    {{ suggestion.game }}
                </div>
                <div class="col-2 text-right">
                    {{ suggestion.votes }}
                </div>
                <div class="col-2">
                    <form method="POST">
                        {{ csrf_input() }}
                        <input type="hidden" name="suggestionId" value="{{ suggestion.id }}">
                        {% if not suggestion.user %}
                            <button type="submit" class="btn btn-outline-primary" name="add"><i class="fas fa-plus fa-xs"></i> 1</button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-primary active" name="remove"><i class="fas fa-plus fa-xs"></i> 1</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
