{% extends 'layout.twig' %}


{% block body %}

    <h1 class="text-center">{% trans %}Log in{% endtrans %}</h1>

    <div class="col-xs-12 col-sm-12 col-md-4 offset-md-4 well well-sm">
        <form action="{{ path('auth.login') }}" method="post">
            {{ csrf_input() }}
            {% set username %}{% trans %}Username or email address{% endtrans %}{% endset %}
            {% set password %}{% trans %}Password{% endtrans %}{% endset %}
            {{ field('username', null, username) }}
            {{ field('password', null, password, {type: 'password'}) }}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="remember" id="remember" value="true">
                <label class="form-check-label" for="remember">
                    {% trans %}Stay logged in{% endtrans %}
                </label>
            </div>
            <p><small><a href="{{ path('auth.password') }}">{% trans %}Forgot your password?{% endtrans %}</a></small></p>
            <div  class="text-center">
                <button class="btn btn-primary ">{% trans %}Log me in{% endtrans %}</button>
            </div>
        </form>

        <hr class="border-gray mx-5">

        <div class="text-center">
            <a href="{{ url }}" class="btn btn-info">Connect with Facebook</a>
        </div>
        <small class="text-muted text-justify">
            {% trans %}
                We advise you against connecting through your Facebook account so as to keep your data confidential. 
                By choosing this option, you would entrust us with a lot of private data that we do not wish to know 
                and accept to be traced by Facebook on every page that you would visit here.
            {% endtrans %}
        </small>

        <hr class="border-gray mx-5">

        <p class="my-3">{% trans %}New to RedBricks?{% endtrans %} <a href="{{ path('account.signup') }}">{% trans %}Register!{% endtrans %}</a></p>
    </div>
{% endblock %}
