<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.admin.index') ? 'active'}}" href="{{ path('blog.admin.index') }}">Games</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.licence.admin.index') ? 'active'}}" href="{{ path('blog.licence.admin.index') }}">Licences</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.platform.admin.index') ? 'active'}}" href="{{ path('blog.platform.admin.index') }}">Platforms</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('blog.status.admin.index') ? 'active'}}" href="{{ path('blog.status.admin.index') }}">Status</a>
</li>
<li class="nav-item">
    <a class="nav-link {{ is_subpath('admin') ? 'active'}}" href="{{ path('admin') }}">Dashboard</a>
</li>