{% extends "layout.twig" %}

{% block title %}

    {% if licence %}
        Licence: {{ licence.name }}{% if page > 1 %} page {{ page }}{% endif %}
    {% else %}
        RedBricks{% if page > 1 %} page {{ page }}{% endif %}
    {% endif %}

{% endblock %}

{% block body %}

    <div class="row" >
        <div class="col-md-3 bg-darkred d-none d-md-block menu pt-2" style="min-height:calc(100vh - 44px - 73px)">

            <div class="col-12 text-white text-center ">
                <div class="my-2 text-justify text-center">
                    {% trans %}
                        A more ethic and more human way to work for developers, supported step by step by the players.
                    {% endtrans %}
                </div>
                <a href='{{ path('support.section', {loc: 'fr', id:4, slug: 'questions-de-joueurs'}) }}' class="btn btn-white text-primary btn-sm">
                    {% trans "Player" %}
                </a>
                <a href="{{ path('support.section', {loc: 'fr', id: 2, slug:'creation-et-gestion-de-projets'}) }}" class="btn btn-white text-primary offset-md-1 offset-lg-2 btn-sm">
                    {% trans "Studio" %}
                </a>
            </div>

            <hr class="border-white">

            <div class="col-md-12 py-2">
                <form action="{{ path('blog.search', {search: inputSearch})}}"  method="post">
                    {{ csrf_input() }}
                    <div class="input-group"> 
                        <input type="text" class="form-control" placeholder="{% trans "Search" %}" name="inputSearch" value="{% if inputSearch != 'null' %}{{ inputSearch }}{% endif %}">
                        <div class="input-group-append">
                            <button name="search" class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>

            </div>

            <hr class="border-white">

            <form  action="{{ path('blog.filter', {search: lien})}}"  method="post" >
                {{ csrf_input() }}

                {% set i = 0 %}
                <div class="row p-2" >
                    {% for l in licences %}
                        <div class="col-xl-6" >
                            {% set i = i+1 %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{ "licence" ~ l.slug }}" name="licence[{{ i }}]" value="{{ l.slug }}" {% if l.slug in lien %}checked{% endif %}>
                                <label class="custom-control-label text-white mb-1" for="{{ "licence" ~ l.slug }}">{{ l.name }}</label>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <hr class="border-white">

                {% set i = 0 %}
                <div class="row p-2">
                    {% for p in platforms %}
                        <div class="col-xl-6" >
                            {% set i = i+1 %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{ "platform" ~ p.slug }}" name="platform[{{ i }}]" value="{{ p.slug }}" {% if p.slug in lien %}checked{% endif %}>
                                <label class="custom-control-label text-white mb-1" for="{{ "platform" ~ p.slug }}">{{ p.name }}</label>
                            </div>									
                        </div>
                    {% endfor %}
                </div>

                <div  class="text-center" style="padding-top: 10px;">
                    <button class="btn btn-white text-primary" type="submit" >{% trans "Filter" %}</button>
                </div>
            </form>
        </div>


        <div class="col-md-9"  >

            <nav class="navbar navbar-expand navbar-light bg-transparent">
                <div class="nav navbar-nav mx-auto">
                    <a class="nav-item nav-link ml-3
                       {{ is_subpath('blog.index') and not is_subpath('blog.index.new') and not is_subpath('blog.index.random') and not is_subpath('blog.index.favorites') ? 'active' }}" 
                       href="{{ path('blog.index') }}">{% trans "Updated" %} <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link ml-3 {{ is_subpath('blog.index.new') ? 'active' }}" href="{{ path('blog.index.new') }}">{% trans "New" %}</a>
                    <a class="nav-item nav-link ml-3 {{ is_subpath('blog.index.random') ? 'active' }}" href="{{ path('blog.index.random') }}">{% trans "Random" %}</a>
                    {% if current_user() != null %}
                        <a class="nav-item nav-link ml-3 {{ is_subpath('blog.index.favorites') ? 'active' }}" href="{{ path('blog.index.favorites') }}">{% trans "Favorites" %}</a>
                    {% endif %}
                </div>
            </nav>

            <div class="row">

                {% for game in games %}
                    <div class="card-deck col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        {% include "@blog" ~ "/panel.twig" %}              
                    </div>
                {% endfor %}	


            </div>
            <div class="mt-3">
                {% if licence %}			
                    {{ paginate(games, "blog.licence", {slug: licence.slug}) }}
                {% elseif lien != "null" %}
                    {{ paginate(games, "blog.filter", {search: lien}) }}
                {% else %}
                    {{ paginate(games, "blog.index") }}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}
