<nav class="navbar navbar-expand bg-transparent">
    <div class="nav navbar-nav mx-auto nav-pills">
        <a class="nav-item nav-link ml-3 
           {{ is_subpath('blog.show', {id:game.id, slug:game.slug}) and not is_subpath('blog.show.bricks', {id:game.id, slug:game.slug}) and not is_subpath('comments.list', {id:game.id, slug:game.slug}) and not is_subpath('news.list', {id:game.id, slug:game.slug}) and not is_subpath('bugs.list', {id:game.id, slug:game.slug}) and not is_subpath('surveys.list', {id:game.id, slug:game.slug}) and not is_subpath('shop.contributors', {id:game.id, slug:game.slug}) ? 'active' }}" 
           href="{{ path('blog.show', {id:game.id, slug:game.slug}) }}">
            {% trans "About" %} <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('news.list', {id:game.id, slug:game.slug}) ? 'active' }}" href="{{ path('news.list', {id:game.id, slug:game.slug}) }}">
            {% trans %}
                {{ nbNews }} News
                {% plural nbNews %}
                {{ nbNews }} News
            {% endtrans %}
        </a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('blog.show.bricks', {id:game.id, slug:game.slug}) ? 'active' }}" href="{{  path('blog.show.bricks', {id:game.id, slug:game.slug}) }}">
            {% trans %}
                {{ nbFeatures }} Brick
                {% plural nbFeatures %}
                {{ nbFeatures }} Bricks
            {% endtrans %}
        </a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('bugs.list', {id:game.id, slug:game.slug}) ? 'active' }}" href="{{ path('bugs.list', {id:game.id, slug:game.slug}) }}">
            {% trans %}
                {{ nbBugs }} Bug
                {% plural nbBugs %}
                {{ nbBugs }} Bugs
            {% endtrans %}
        </a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('comments.list', {id:game.id, slug:game.slug}) ? 'active' }}" href="{{ path('comments.list', {id:game.id, slug:game.slug}) }}">
            {% trans %}
                {{ nbComments }} Comment
                {% plural nbComments %}
                {{ nbComments }} Comments
            {% endtrans %}
        </a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('surveys.list', {id:game.id, slug:game.slug}) ? 'active' }}" href="{{ path('surveys.list', {id:game.id, slug:game.slug}) }}">
            {% trans %}
                {{ nbSurveys }} Survey
                {% plural nbSurveys %}
                {{ nbSurveys }} Surveys
            {% endtrans %}
        </a>
        <a class="nav-item nav-link ml-3 {{ is_subpath('shop.contributors', {id:game.id, slug:game.slug}) ? 'active' }}" href="{{ path('shop.contributors', {id:game.id, slug:game.slug}) }}">
            {% trans %}
                Contributors
            {% endtrans %}
        </a>
    </div>
</nav>
