{% block Userbutton %}
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            {% if current_user().displayname %}
                {{ current_user().displayname }}
            {% else %}
                {{ current_user().username }}
            {% endif %}
        </button>
        <ul class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="dropdownMenu1">
            <li><a href="{{ path(current_user().role) }}">{% trans "Dashboard" %}</a></li>
            <li><a class="nav-item" href="{{ path('account') }}">{% trans "My account" %}</a></li>
            <li><a class="nav-item" href="{{ path('notification') }}">{% trans "Notifications" %}</a></li>
            <li><a class="nav-item" href="{{ path('discussion.messages', {idThread:0}) }}">{% trans "Messages" %}</a></li>
            <li><a class="nav-item" href="{{ path('shop.purchases.subscriptions') }}">{% trans "My contributions" %}</a></li>
            <li><a class="nav-item" href="{{ path('badges') }}">{% trans "My badges" %}</a></li>
            <li><a href="{{ path('auth.logout') }}">{% trans "Log out" %}</a></li>
        </ul>
    </div>
{% endblock %}