{{ username }},<br />
thank you for registering.<br />
<br />
We require that you "validate" your registration to ensure that
the email address you entered was correct.<br />
<br />
To activate your account, simply click on the following link:<br />
<br />
<a href="https://redbricks.games/authentication?log={{ username }}&key={{ activation_key }}">
    https://redbricks.games/authentication?log={{ username }}&key={{ activation_key }}
</a><br />
<br />
(Some email client users may need to copy and paste the link into your web
browser).<br />
<br />
----<br />
<br />
The RedBricks Team