
<div class= "row">
    <div class= "col-md-4">
        {% set name %}{% trans %}Name of the brick{% endtrans %}{% endset %}
        {% set comment %}{% trans %}(in english, you can translate it after){% endtrans %}{% endset %}
        {{  field("name", item.name, name ~ '<span class="text-danger">*</span> ' ~ comment ) }}

        Tags
        {% for tag in tags %}
            <div class="form-check">       
                <input class="form-check-input" type="checkbox" id="{{ tag.id }}" name="{{ "tag-" ~ tag.id }}" {% if tag.id in featureTag | keys  %}checked="checked"{% endif %}>
                <label class="form-check-label" for="{{ tag.id }}">
                    {{ tag.name }}
                </label>
            </div>
        {% endfor %}

        <div class="form-group">
            <label for="status_id">{% trans "Status" %}<span class="text-danger">*</span></label>
            <select class="form-control" name="status_id" id="status_id" {% if item.statusId == 3 and disabled %}disabled{% endif %}>
                {% for varStatus in status  %}
                    {% if (loop.index <= 1) or (item.userProject == current_user().id) or (current_user().role== "admin")  %}
                        {% if (loop.index >= statusId) or (current_user().role== "admin") %}
                            <option value="{{ loop.index }}" {% if loop.index == item.statusId %}selected{% endif %}>{{ varStatus }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
        </div> 

        {% if item.statusId == 3 and disabled %}
            <input type="hidden" name="status_id" value="{{ item.statusId }}" id="statusId">
            <input type="hidden" name="goal" value="{{ item.goal }}">
            <input type="hidden" name="deadline" value="{{ item.deadline | date('Y-m-d') }}">
        {% endif %}

        <div class="form-group row {% if item.statusId != 3 %}d-none{% endif %}" id="status-3" >
            <div class= "col-md-4">
                {% set goal %}{% trans %}Goal (€){% endtrans %}{% endset %}
                {{ field("goal", item.goal | default(0), goal ~ '<span class="text-danger">*</span>', {type:'number', class:'number-spinner h-50 d-inline-block', min:'0', disabled:disabled}) }}

            </div>
            <div class= "col-md-8">
                {% set deadline %}{% trans %}Deadline{% endtrans %}{% endset %}
                {{ field("deadline", item.deadline, deadline ~ '<span class="text-danger">*</span>', {class:'h-50 datepicker d-inline-block', disabled:disabled}) }}
            </div>
        </div>

        <div class="form-group row {% if item.statusId != 4 %}d-none{% endif %}" id="status-4">
            <div class="col-12">
                {% set estimatedDate %}{% trans %}Estimated release date{% endtrans %}{% endset %}
                {{ field("estimatedDate", item.estimatedDate, estimatedDate ~ '<span class="text-danger">*</span>', {class:'h-50 datepicker'}) }}
            </div>
        </div>

        <div class="form-group row {% if item.statusId != 5 %}d-none{% endif %}" id="status-5">
            <div class="col-12">
                {% set currentDate = "now"|date("Y-m-d")  %}
                {% set deliveryDate %}{% trans %}Release date{% endtrans %}{% endset %}
                {{ field("deliveryDate", item.deliveryDate | default(currentDate), deliveryDate ~ '<span class="text-danger">*</span>', {class:'h-50 datepicker'}) }}
            </div>
        </div>

        <div class="form-group row {% if item.statusId != 6 %}d-none{% endif %}" id="status-6">
            <div class="col-12">
                {% set abandonReason %}{% trans %}Reason for abandoning{% endtrans %}{% endset %}
                {{ field("abandonReason", item.abandonReason, abandonReason) }}
            </div>
        </div>

        {% if endGoal or (item.statusId == 3 and item.deadline < date()) %}
            <div class="form-group row">
                <div class="col-12">
                    {%  if endGoal %}
                        {% trans %}Congratulations ! Your brick is 100% funded. Click on this button to collect the money.{% endtrans %}
                    {%  else %}
                        {% trans %}We're sorry, but you haven't reached your goal before the deadline. You now have two options:<br>
                            <ul>
                                <li>collect all the pledged money and commit to implementing the brick anyway</li>
                                <li>cancel the brick. In that case, the contributors for this bricks will be reimbursed.</li>
                            </ul>
                        {% endtrans %}
                    {%  endif %}
                    <div class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#collect">{% trans "Collect" %}</button>
                        <div class="modal fade" id="collect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 id='test' class="modal-title">{% trans %}Collect the money{% endtrans %}</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% set estimatedDate %}{% trans %}You must estimate the release date of your feature.{% endtrans %}{% endset %}
                                        {{ field("estimatedDate", item.estimatedDate, estimatedDate, {class:'h-50 datepicker'}) }}
                                        {{ token_input | raw  }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                                        <button id="confirm_collect" class="btn btn-success" name="collect">{% trans "Collect" %}</button>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if item.deadline < date() %}
                            <button type="submit" class="btn btn-primary" name="abandon" id="abandon">{% trans "Abandon" %}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

    </div>	

    <div class= "col-md-8">
        <div class="form-group">
            {% set image %}{% trans %}Image{% endtrans %}{% endset %}
            {% set comment %}{% trans %}1Mo max - accepted format: jpg, png, gif, bmp - format 16:9{% endtrans %}{% endset %}
            {% if item.image %}
                {{ field("image", item.thumb, image, {type:"file"}, comment) }}
            {% else %}
                {{ field("image", null, image, {type:"file"}, comment) }}
            {% endif %}
        </div>		
        <div class= "row" style="margin: .5rem 0;padding: .5rem .75rem;border: 1px solid rgba(0,0,0,.15);border-radius: .25rem;">
            {% trans %}Created at:{% endtrans %} {{ item.createdAt | date("j F Y - H:i:s") }}
        </div>

        <div class= "form-group" >
            <label for="tinyContent">{% trans "Descriptif" %}<span class="text-danger">*</span> {% trans %}(in english, you can translate it after){% endtrans %}</label>
            <textarea class="form-control" name="content" id="tinyContent" style="height: 10rem;">{{item.content}}</textarea>
        </div>
    </div>

</div>
<script>

    $(document).ready(function () {

        document.getElementById('status_id').onchange = function () {
            var disabled = "{{ disabled }}";
            $('#status-3').addClass("d-none");
            $('#status-4').addClass("d-none");
            $('#status-5').addClass("d-none");
            $('#status-6').addClass("d-none");
            if ($("#status_id").val() === '3') {
                $('#status-3').removeClass("d-none");
                $('#deadline').prop('disabled', disabled);
                $('#goal').prop('disabled', disabled);
            } else if ($("#status_id").val() === '4') {
                $('#status-4').removeClass("d-none");
            } else if ($("#status_id").val() === '5') {
                $('#status-5').removeClass("d-none");
            } else if ($("#status_id").val() === '6') {
                $('#status-6').removeClass("d-none");
            }
        }
        ;

        $(document).on("click", "#confirm_collect", function (e) {
            if (document.querySelector('.modal-body #estimatedDate').value === "") {
                alert("The date field is required.");
                e.preventDefault();
            } else {
                $('form').attr('action', "{{  path('shop.collect', {id: item.id|default(0)})|escape('js') }}");
            }
        });

        $(document).on("click", "#abandon", function (e) {
            document.getElementById('statusId').value = '6';
            document.getElementById('abandonReason').value = "No funding";
        });
    }
    );
</script>	










