{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Edit the translation
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1 class="text-center">{% trans %}Edit the translation{% endtrans %}</h1>

    <div class="container">
        {% if feature %}
            <form action= "{{ path('localization.translation.feature' ~ '.edit', {projectId: item.gameId, featureId: item.featureId, id: item.id}) }}" method="post" enctype="multipart/form-data">
                {{ csrf_input() }}
                {% include "@localization/form.twig" %}

                <button class="btn btn-primary" type="submit">
                    {% trans "Edit" %}</button>
                <a class="btn btn-primary ml-3" href="{{ path('localization.translation', {id: item.gameId}) }}">{% trans "Back" %}</a>
            </form>
        {% else %}
            <form action= "{{ path('localization.translation' ~ '.edit', {projectId: item.gameId, id: item.id}) }}" method="post" enctype="multipart/form-data">
                {{ csrf_input() }}
                {% include "@localization/form.twig" %}

                <button class="btn btn-primary" type="submit">{% trans "Edit" %}</button>
                <a class="btn btn-primary ml-3" href="{{ path('localization.translation', {id: item.gameId}) }}">{% trans "Back" %}</a>
            </form>
        {% endif %}
    </div>

{% endblock %}